@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}


body{
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,.8), rgba(0,0,0,.8)), url('../Img/super5.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
/*/
/*^ Encabezado */
header{
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background: #2d3436;
}
.logo_img{/*Maneja la imagen del logo*/
  width: 50px;
  margin: 20px 0px;
}

h1{
  top: 80px;
  font-size: 2em;
  font-family: Oswald;
  color: white;
  text-align: center;
  user-select: none;
}
.user{
  color: #20B2AA;
}

/*^ Fin Encabezado */

/*^ Nav */
.container_texts{
  display: flex;
  color: #f7f2f2;
  margin-right: 1rem;
}

.container_subtitle{/*Maneja el subtitulo h2*/
  font-size: 2rem;
  font-weight: bold;
}
.nav .btn_logout{/*Maneja el boton de cerrar sesion*/
  background: #d63031;
  border: none;
  width: 95px;
  margin: 10px;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.nav .btn_logout:hover{
  background: transparent;
  border: 3px solid #d63031;
}



/*^ Fin Nav */

/*^ Contenido */
/*~ SECCION VENTAS*/
.container{/*Maneja el contenedor del div*/
  /*background-color: rgba(49, 42, 42, 0.2);*/
  text-align: center;
}
.ventas_conta{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ventas_title{/* Maneja el titulo de ventas*/
  font-size: 3rem;
  font-weight: bold;
  color: #f7f2f2;
  margin-top: 50px;
  text-align: center;
  margin-right: 50px;
}
/*
.container_ventas {/*Maneja el div del consulta clientes
  position: relative;
  height: 50rem;
  width:70%;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .5);
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 20px 10rem;
  border-bottom: 5px solid white;

  transform: scale(0);
  overflow: hidden;
  transition: transform .5s ease;

}
/*
.venta-popup{
  transform: scale(1);
}
*/
.btn_venta{/*Maneja el boton de Nueva Venta */
  background: #162938;
  border: none;
  width: 150px;
  margin: 10px;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.btn_venta:hover{/*Maneja el efecto del boton*/
  background:transparent;
  border: 3px solid #162938;
}

.forma{/*Maneja el contenedor de la busqueda*/
  display: flex;
  justify-content: space-between;
  width: 95%;
  position:relative;
  margin: 50px auto;

}

.input{/*Maneja el cuadro de texto del input*/
  background: none;
  color: #c6c6c6;
  font-size: 16px;
  display: block;
  width: 15%;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.space{/*Maneja el contenedor de los botones buscar y registrar*/
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  margin: 25px 50px 30px 17em;
  text-decoration: none;
}

.btn_buscar{/*Maneja el boton de Buscar */
  background: #ff7675;
  border: none;
  width: 150px;
  margin: 10px;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.btn_buscar:hover{/*Maneja el efecto del boton*/
  background:transparent;
  border: 3px solid #ff7675;
}
.btn_registrar{/*Maneja el boton de Registrar*/
  background: #20B2AA;
  border: none;
  width: 150px;
  margin: 10px;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.btn_registrar:hover{/*Maneja el efecto del boton*/
  background:transparent;
  border: 3px solid #20B2AA;
}
.btn_agregarCli{/*Maneja el boton de factura*/
  background: #0984e3;
  border: none;
  width: 190px;
  margin: 10px;
  color: white;
  height: 37px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.btn_agregarCli:hover{/*Maneja el efecto del boton*/
  background:transparent;
  border: 3px solid #0984e3;
}
/*~ FIN SECCION VENTAS*/

/*~ SECCION PRODUCTOS*/

.container_productos{/*Maneja el div del consulta productos*/
  position: relative;
  height: 30rem;
  width:70%;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
  margin: 20px 14rem;
  border-bottom: 5px solid white;
  /*
  transform: scale(0);
  overflow: hidden;
  transition: transform .5s ease;
  */
}

.productos_title{/* Maneja el titulo de Productos para Agregar*/
  font-size: 2rem;
  font-weight: bold;
  color: #f7f2f2;
  text-align: center;
  margin-top: 50px;
}
.label{/* Maneja el nombre Clientes del label Clientes*/
  position:fixed;
  margin: -30px 40px;
}
.labelC{/* Maneja el nombre Cajeros del label Cajeros*/
  position:fixed;
  margin: -30px 10px 20px 290px;
}
.labelP{/* Maneja el nombre Productos del label Productos*/
  position:fixed;
  margin: -30px 10px 20px 540px;
}
.select{
  background: none;
  color: #f9fcfc;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  margin-left: 30px;
}
/*
.table{/*Maneja el contenedor de la tabla de consulta
  text-align: center;
  align-items: center;
  margin: 10px auto;
  display: inline-block;
    
}
.table_head{
  width: 100%;
  font-size: 20px;
  color: #f7f2f2; 
  font-weight: 100;

}
.table_head th{
  padding: 20px;
}

.lista{
  color: #20B2AA;
  font-size: 1.3em;
  margin-bottom: 30px;
}
*/
.btn_agregar{/*Maneja el boton de Agregar productos*/
  background: #2ecc71;
  border: none;
  width: 100px;
  margin: 10px;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.btn_agregar:hover{/*Maneja el efecto del boton*/
  background:transparent;
  border: 3px solid #2ecc71;
}
.btn_borrar{/*Maneja el boton de Borrar*/
  background: #d63031;
  border: none;
  width: 100px;
  margin: 10px;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.btn_borrar:hover{/*Maneja el efecto del boton*/
  background:transparent;
  border: 3px solid #d63031;
}
.btn_facturar{/*Maneja el boton de Borrar*/
  background: #1dd1a1;
  border: none;
  width: 200px;
  margin: 30px auto;
  color: white;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.btn_facturar:hover{/*Maneja el efecto del boton*/
  background:transparent;
  border: 3px solid #1dd1a1;
}
/*~ FIN SECCION PRODUCTOS*/

/*? MODAL FACTURAR */
.modal_body_facturar{
  text-align: center;
  position: relative;
  height: 23rem;
  width: 30rem;
  background:rgba(0, 0, 0, .4);
  border: 2px solid rgba(255, 255, 255, .7);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .7);
  display: block;
  align-items: center;
  justify-content: center;
  margin: 20rem 30rem;
  border-bottom: 5px solid white;
  transform: var(--transform);
  transition: var(--transition);

}
/*? FIN MODAL FACTURAR */

/** MODAL FACTURA */

/** FIN MODAL FACTURA */
/*^ Fin Contenido */

/*? MODAL REGISTRAR */
.modalRegistrar{/*Maneja el contenedor del div*/
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .3s;/*Le da el efecto de aparecer al modal*/
  --transform: translateY(-170vh) ;
  --transition: transform .6s;
  
}
.modal--showRegistrar{/*Activa el modal cuando oprimimos el boton*/
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0) ;
  --transition: transform .6s .3s;
}
.modal_body{
  text-align: center;
  position: relative;
  height: 50rem;
  width: 30rem;
  background:rgba(0, 0, 0, .4);
  border: 2px solid rgba(255, 255, 255, .7);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .7);
  display: block;
  align-items: center;
  justify-content: center;
  margin: 20rem 30rem;
  border-bottom: 5px solid white;
  transform: var(--transform);
  transition: var(--transition);

}
.modal_title{/*Maneja el titulo del login*/
  font-size: 2rem;
  font-weight: 700;
  color: #20B2AA;
  margin: 25px 0px;
  text-align: center;
}
.form_login{/*Maneja el contenedor de la form*/
  width: 100%;
  margin: auto;
}
.login-form{/*Maneja el div del input*/
  position:relative;
  margin: 45px;
}
label{/*Maneja los nombres de los input*/
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  font-size: 20px;
  transition: 0.5s;
  color: white;
  pointer-events: none;
}

input{/*Maneja el cuadro de texto del input*/
  background: none;
  color: #c6c6c6;
  font-size: 16px;
  padding: 10px 5px;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

input:focus~label,
input:valid~label{/*Maneja el efecto de los input y label*/
  top: -10px;
  font-size: 14px;
  color: #f9fcfc;
  outline: none;
}
.selec{
  background: none;
  color: #f9fcfc;
  font-size: 16px;
  outline: none;
  border-radius: 10px;

}
.opt{
  background: rgba(0, 0, 0, .9);
}

.barra{/*Maneja la linea de input*/
  display: block;
  position: relative;
  width: 100%;
}
.barra::before{/*Maneja el efecto de la linea del input*/
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #162938, #3e9fb9 );
  transition: 0.3s ease width;
  left: 0;
}
input:focus~.barra::before{/*Maneja efectos de las lineas*/
  width: 105%;
}

.btn_cancelar{/*Maneja el boton cancelar*/
  background: #FFA07A;
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
  font-size: 20px;

}
.btn_cancelar:hover{/*Maneja el efecto del boton cancelar*/
  background:transparent;
  border: 4px solid #FFA07A;
}
.btn_guardar{/*Maneja el boton registrar del formulario*/
  background: #20B2AA;
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: white;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  font-size: 20px;

}
.btn_guardar:hover{/*Maneja el efecto del boton registrar del formulario*/
  background:transparent;
  border: 4px solid #20B2AA;
}

a{
  text-decoration: none;
}
/*? FIN MODAL REGISTRAR*/




/*^ Pie de Pagina */
footer{/*Maneja todo el contenedor*/
  align-items: center;
  text-align: center;
  margin-top: 370px;
  background: #2d3436;
}
hr{/*Maneja la linea separadora*/
  border: 2px solid white;
  margin-top: 70px;
}
.logos{/*Maneja la imagen del footer*/
  width: 5rem;
  margin: 50px auto 10px auto;
}
.copy{/*Maneja el texto de copyright*/
  margin: 20px;
  font-size: 30px;
  color: white;
}
.ela{
  margin-top:40px;
  font-size: 25px;
  font-weight: 300;
}

/*^ Fin Pie de Pagina */